body {
margin: 0px;
padding: 20px 50px;
background-color: #F4A518;
font-family: Arial;
}
h1, h2 {
margin: 0px;
font-style: italic;
}
pre {
border: 1px dotted #000000;
padding: 20px;
background-color: #ffffff;
}
/******* jCloud *******/
div#jcloud {
margin: 20px auto;
background-color: #F6F2A1;
border: 3px solid #000000;
border-radius: 10px;
}
.jtag a:link, .jtag a:visited {
text-decoration: none;
padding: 2px 4px;
display: block;
}
.jtag a:hover {
border: 1px solid #999999;
background-color: #ffffff;
}
