@CHARSET "ISO-8859-1";

/* IPHONE */
@media screen and (min-width: 320px) {
	#rw-sidebar-wrapper,#rw-news-wrapper {
		display: none;
	}
}

/**/
@media screen and (min-width: 480px) {}

/**/
@media screen and (min-width: 603px) {}

/**/
@media screen and (min-width: 768px) {}

/*NEXUS 7 LANDSCAPE*/
@media screen and (min-width: 966px) {}

/*IPAD LANDSCAPE ---- DESKTOP*/
@media screen and (min-width: 1024px) {
	#rw-news-wrapper {
		
	}
	#rw-news-wrapper h1 {
		float: left;
		margin-top: 16px;
		font-size: 30px;
	}
	#rw-news-wrapper .rw-table-row,#rw-news-wrapper .rw-table-row .rw-table-cell
		{
		padding-bottom: 15px;
		padding-left: 10px;
	}
	.rw-title-news {
		background: url(../img/title_news.png) center center no-repeat;
	}
	.latest-news .rw-table-cell {
		width: 80%;
		padding: 20px 20px 0;
	}
	.latest-news a {
		text-decoration: none;
		color: #353535;
	}
	.latest-news .rw-table-row .rw-table-cell {
		padding-left: 15px;
	}
	.latest-news .rw-table-cell h2 {
		font-size: 25px;
		text-transform: uppercase;
	}
	.latest-news .rw-table-cell .rw-news-content {
		padding-left: 5px;
	}
	rw-news-wrapper {
		/*background: none repeat scroll 0 0 rgba(221,221,221,0.45);*/
		box-shadow: 4px 5px 10px 0px #C3C3C3;
		border: 1px dashed #999998;
		border-radius: 5px 5px 5px 5px;
		padding: 10px 10px 10px 15px;
		margin-top: 10px;
		font-size: 9px;
	}
	rw-news-wrapper:HOVER {
		background-color: #F7DFF7;
		-webkit-transition: background-color 1000ms linear;
		-moz-transition: background-color 1000ms linear;
		-o-transition: background-color 1000ms linear;
		-ms-transition: background-color 1000ms linear;
		transition: background-color 1000ms linear;
	}
	rw-news-wrapper a {
		text-decoration: none;
	}
}